{{ define "subject" }}Reset your Planet Express password{{ end }}

{{ define "content" }}
    {{ with .Views }}
        Hello,

        for future reference, your user ID is {{ .UserID }}.

        Please send an HTTP request to the `PUT /api/v1/users/password` endpoint
        with the following JSON body to request a new password:

        {"token": "{{ .Token }}", "password": "your brand‑spanking‑new passphrase"}

        Please note that this is a one-time use token and it will expire in {{ .Expiry }}.

        Thanks,

        The Planet Express team

        {{- /*gotype: github.com/purpose-robot/planet-express/internal/auth.passwordResetEmail*/ -}}
    {{ end }}
{{ end }}
